Repository CleverCloud/clever-components, pull requests merged in 2024-06, with the labels that each got.

#1059 refactor(cc-tile-metrics)!: rework properties to avoid impossible states
  src/components/cc-tile-metrics/cc-tile-metrics.js
  src/components/cc-tile-metrics/cc-tile-metrics.smart.js
  src/components/cc-tile-metrics/cc-tile-metrics.stories.js
  src/components/cc-tile-metrics/cc-tile-metrics.types.d.ts
Labels: review-complexity: medium, ready-to-merge, stories-checked

#1057 refactor(cc-tile-requests)!: rework properties to avoid impossible states
  src/components/cc-tile-requests/cc-tile-requests.js
  src/components/cc-tile-requests/cc-tile-requests.stories.js
  src/components/cc-tile-requests/cc-tile-requests.types.d.ts
Labels: review-complexity: medium, ready-to-merge, stories-checked

#1055 refactor(cc-matomo-info)!: rework properties to avoid impossible states
  src/components/cc-matomo-info/cc-matomo-info.js
  src/components/cc-matomo-info/cc-matomo-info.stories.js
  src/components/cc-matomo-info/cc-matomo-info.types.d.ts
Labels: review-complexity: easy, ready-to-merge, stories-checked

#1054 refactor(cc-article-components)!: rework properties to avoid impossible states
  src/components/cc-article-card/cc-article-card.js
  src/components/cc-article-card/cc-article-card.stories.js
  src/components/cc-article-card/cc-article-card.types.d.ts
  src/components/cc-article-list/cc-article-list.js
  src/components/cc-article-list/cc-article-list.smart.js
  src/components/cc-article-list/cc-article-list.stories.js
  src/components/cc-article-list/cc-article-list.types.d.ts
Labels: review-complexity: easy, ready-to-merge, stories-checked

#1048 refactor(cc-addon-features)!: rework properties to avoid impossible s…
  src/components/cc-addon-features/cc-addon-features.js
  src/components/cc-addon-features/cc-addon-features.stories.js
  src/components/cc-addon-features/cc-addon-features.types.d.ts
Labels: review-complexity: easy, ready-to-merge, stories-checked

#1047 refactor(cc-header-orga)!: rework properties to avoid impossible states
  src/components/cc-header-orga/cc-header-orga.js
  src/components/cc-header-orga/cc-header-orga.stories.js
  src/components/cc-header-orga/cc-header-orga.types.d.ts
Labels: review-complexity: easy, ready-to-merge, stories-checked

#1045 refactor(cc-doc-components)!: rework properties to avoid impossible states
  src/components/cc-doc-card/cc-doc-card.js
  src/components/cc-doc-card/cc-doc-card.stories.js
  src/components/cc-doc-card/cc-doc-card.types.d.ts
  src/components/cc-doc-list/cc-doc-list.js
  src/components/cc-doc-list/cc-doc-list.stories.js
  src/components/cc-doc-list/cc-doc-list.types.d.ts
Labels: review-complexity: easy, stories-checked

#1044 refactor(cc-addon-admin)!: rework properties to avoid impossible states
  src/components/cc-addon-admin/cc-addon-admin.js
  src/components/cc-addon-admin/cc-addon-admin.stories.js
  src/components/cc-addon-admin/cc-addon-admin.types.d.ts
  src/components/common.types.d.ts
Labels: review-complexity: medium, ready-to-merge, stories-checked

#1051 refactor(cc-invoice-components): !: rework properties to avoid impossible states
  src/components/cc-invoice-list/cc-invoice-list.js
  src/components/cc-invoice-list/cc-invoice-list.smart.js
  src/components/cc-invoice-list/cc-invoice-list.stories.js
  src/components/cc-invoice-list/cc-invoice-list.types.d.ts
  src/components/cc-invoice-table/cc-invoice-table.js
  src/components/cc-invoice-table/cc-invoice-table.stories.js
  src/components/cc-invoice-table/cc-invoice-table.types.d.ts
  src/components/cc-invoice/cc-invoice.stories.js
  src/components/common.types.d.ts
  src/stories/fixtures/invoices.js
Labels: review-complexity: complex, ready-to-merge, stories-checked

#1072 chore(test/helpers): pass story names and use them
  test/helpers/accessibility.js
  test/helpers/get-stories.js
Labels: ready-to-merge

#1088 chore(master): release 14.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#1089 chore(master): release 14.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#1094 chore(master): release 14.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#1098 chore(master): release 15.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending

#1100 chore(master): release 15.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: autorelease: pending
